{% if request.logged_in? == false and request.sorta_logged_in? == false  %}

{% assign str_close = "Close" %}
{% assign url = page.full_url | split: '/' %}
{% if url[2] contains 'lapathie' %}
	{% assign str_close = "Fermer" %}
{% endif %}

<!-- Modal -->
<div class="modal fade" id="signupModalCenter" tabindex="-1" role="dialog" aria-labelledby="signupModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
<!--         <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% subpage "modal_signup" with "modal_signup_form" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ str_close }}</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    
    $(function(){
	    if (aib.showNewbieModal) {
		    aib.showNewbieModal('feedSignup', 3, function() {
          $('#signupModalCenter').modal('show');
          aib.linkSignupModalTags();
        });
	    } else {
		    console.log('main aib js not loaded')
	    }
    })
</script>

{% endif %}