{% if site.has_donation_page? and site.donation_page.is_nav? %}
	<a class="btn btn-primary" href="{{ site.donation_page.url }}" title="{{ site.donation_page.headline}}">{{ site.donation_page.name }}</a>
{% endif %}

	<div class="follow-buttons hidden-xs">
		
		{% assign url = page.full_url | split: '/' %}
		{% if url[2] contains 'lapathie' %}
		
		<a href="/donate" class="donate">DONNER</a> 
		<h6 class="accent strong">Suivez-Nous:</h6>
		
		{% else %}
		
		<a href="/donner" class="donate">SUPPORT</a> 
		<h6 class="accent strong">Follow:</h6>
		
		{% endif %}
		
    <a href="https://www.facebook.com/apathyisboring" target="_blank" ><i class="icon-facebook"></i></a>
		<a href="https://www.twitter.com/apathyisboring" target="_blank" ><i class="icon-twitter"></i></a>
    <a href="https://www.instagram.com/apathyisboring/" target="_blank" class="instagram"><img src="Instagram-Logo.png"></a>
	</div>
